.addOp p {
  color: $off-white;
  font-style: italic;
  padding: 0 $m-size;
  margin-top: $m-size;
}

.addOp form {
  display: flex;
  padding: $m-size;
  flex-direction: column;
}
.addOp input {
  flex-grow: 1;
  background-color: $dark-blue;
  color: $off-white;
  border: none;
  border-bottom: 0.3rem solid darken($dark-blue, 10%);
  margin: 0 0 $s-size 0;
  padding: $s-size;
}

@media (min-width: 45rem) {
  .addOp form {
    flex-direction: row;
  }
  .addOp input {
    margin-right: $s-size;
  }
}
